<!-- Footer Component -->
<footer>    <div class="social-links">
        <a href="https://www.facebook.com/groups/1850092765288774?locale=zh_TW" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/@127-fg2tl" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="mailto:taiwan127fb@gmail.com"><i class="fas fa-envelope"></i></a>
    </div>
    <p>&copy; 2024 台灣127寄養橋樑協會. All rights reserved.</p>
</footer>
